body {
    margin: 0;
}

.cell {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    float: left;
}

.cell.black {
    background: black;
}

.cell.white {
    background: white;
}

.cell.hasToken {
    cursor: pointer;
}

.possibleCell {
    background: rgba(217, 255, 0, 0.5) !important;
    cursor: pointer;
}

.lastMoveCell {
    background: rgba(0, 0, 255, 0.3) !important;
}

.possibleCell.enemy {
    background: rgba(255, 0, 0, 0.5) !important;
}

.token {
    position: absolute;
    font-size: 50px;
    border: 0px solid red;
    cursor: pointer;
}

.token.white {
    color: white;
}

.token.black {
    color: black;
}

.token.selectedToken.white {
    color: rgb(192, 192, 192);
}

.token.selectedToken.black {
    color: rgb(80, 80, 80);
}

i.white {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

i.black {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

table {
    border-collapse: collapse;
}

@media (max-width:600px) {
    .cell {
        width: 42px;
        height: 42px;
        border: 1px solid black;
        float: left;
    }

    .token {
        position: absolute;
        font-size: 28px;
        border: 0px solid red;
        cursor: pointer;
    }
}

@media (min-width:601px) {
}